
/*background*/
body {
background-color: #231f20;
overflow: hidden;
width: 100%;
height: 100%;
margin: auto;
text-decoration: none;

}

.main {
    background-color: #80caef;
    color: #231f20;
    width: 94%;
    height: 94%;
    margin: auto;
    border-radius: 25px;
    z-index: 3;
    top: 3%;
    left: 3%;
    position: absolute;
    overflow: hidden;
    display: flex;
    
}


/*bowling alley floor*/ 
.floor {
    width: 110%;
    height: 100%;
    z-index: 30;
    clip-path: polygon(0px 90%, 110% 10px, 110% 10%, 0px 115%);
    margin-left: -10%;
}

.floor-container {
    position: fixed;
    left: -10%;
    width: 110%;
    height: 110%;
    overflow: visible;
    margin: auto;
    z-index: 25;
    object-fit: fill;
}

.shadow {
        position: fixed;
        left: -10%;
        width: 110%;
        height: 110%;
        overflow: visible;
        margin: auto;
        z-index: 24;
        object-fit: fill;
        clip-path: polygon(0px 89%, 110% 10%, 110% 10%, 0px 115%);
        background-color: #231f20;
    }

/*class boxes*/

h2 {
    font-family: 'Pacifico', cursive;
    position: relative;
    z-index: 30;
    text-decoration: underline;
}

.fifty-one-container {
    background-color: #ee5b30;
    width: 25%;
    height: 30%;
    border-color: #f8ebbe;
    border-width:10px;
    border-radius: 15%;
    border-style: groove;
    padding: 1%;
    margin: 2%;
    text-align: center;
    font-size: 130%;
    z-index: 28;
    background-image: url("../imgs/score.1.png");
}

.sixty-container {
    background-color: #ee5b30;
    width: 23%;
    height: 25%;
    border-color: #f8ebbe;
    border-width: 10px;
    border-radius: 15%;
    border-style: groove;
    padding: 1%;
    margin: 2%;
    bottom: 0px;
    right: 0px;
    position: absolute;
    text-align: center;
    font-size: 128%;
    z-index: 28;
    background-image: url("../imgs/score.1.png");
}

/*links*/

mark {
    background-color: #ee5b30;
    color: #231f20;
}

.link-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 45;
    position: relative;
    margin: auto;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.link {
    font-family: 'Courier New', Courier, monospace;
    z-index: 89;
    position: relative;
}

a:link {
    text-decoration: none;
}

a mark:hover {
    color: #f8ebbe;
}


/*bowling pins and arrows and ball*/

.bowl-pin {
    width: 9%;
    height: 17%;
    z-index: 40;
    position: absolute;
}

#bp1 {
    top: 72%;
    left: 6%
}
#bp2 {
    top: 73%;
    left: 3%;
}
#bp3 {
    top: 78%;
    left: 5%;
    transform: rotate(5deg);
}
#bp4 {
    top: 79%;
    left: 15%;
    transform: rotate(86deg);
}
#bp5 {
    top: 14%;
    left: 80%;
}
#bp6 {
    top: 15%;
    left: 83%;
    transform: rotate(13deg);
}
#bp7 {
    top: 18%;
    left: 87%;
    transform: rotate(40deg);
}
#bp8 {
    top: 30%;
    left: 90%;
    transform: rotate(84deg);
}
#bp9 {
    top: 47%;
    left: 91%;
    transform: rotate(129deg);
}

.arrows {
z-index: 43;
position: absolute;
}

#arrow1 {
 top: 30%;
left: 20%;
width: 20%;
height: auto;
transform: rotate(30deg);
}

#arrow2 {
    top: 51%;
    left: 50%;
    width: 6%;
    height: auto;
    transform: rotate(54deg);
}

#arrow3 {
    top: 76%;
    left: 48%;
    width: 20%;
    height: auto;
    transform: rotate(167deg);   
}

#arrow4 {
    top: 1%;
    left: 46%;
    width: 23%;
    height: auto;
    transform: rotate(289deg);   
}

#arrow5 {
    z-index: 10;
    width: 43%;
    opacity: 18%;
    height: auto;
    transform: rotate(47deg);
    bottom: 35%;
    left: 65%;
    position: absolute;
}

#arrow6 {
    z-index: 10;
    width: 43%;
    opacity: 14%;
    height: auto;
    transform: rotate(0deg);
    bottom: 23%;
    right: 78%;
    position: absolute;
}

#arrow7 {
    z-index: 10;
    width: 35%;
    opacity: 14%;
    height: auto;
    transform: rotate(180deg);
    bottom: 45%;
    right: 36%;
    position: absolute;
}

.bowlball {
    width: 10%;
    position: absolute;
    top: 29%;
    left: 62%;
    z-index: 56;
}

.exer-links {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin: auto;
}